body {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #333237;
    background: #f8f8f8;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 20px 30px;
    border-bottom: 2px solid #ddd;
}

.brand-name {
    color: #333237;
    font-size: 2rem;
}
